# Precedence

- operators precedence describes the order in which operators are performed

- ()          :parantheses
- **          :exponentiation
- +x -x ~x    :unary plus,unary minus,bitwise NOT
- *  /  //  % :multiplication,division,floor division,modulus
- +  -        :addition,subtraction
- <<  >>      :bitwise left and rightshift
- &           :bitwise AND
- ^           :bitwise XOR
- |           :bitwise OR
- ==  !=  >  >=  <  <=  is  is not  in  not in :comparisions,identity and membership operators
- not         :logical NOT
- and         :logical AND
- or          : logical OR

# 7(2-32)23*23(32-232)/23

In [18]:
#addition
7+(2-32)+23*23+(32-232)/23

497.30434782608694

In [2]:
#multiplication
7*(2-32)*23*23*(32-232)/23

966000.0

In [11]:
#division
7/(2-32)/23*23/(32-232)/23

5.072463768115943e-05

# 78-23+23+23+12+123-232+(34/54*34+)43

In [19]:

#addition
78-23+23+23+12+123-232+(34/54*34+4)+43

72.4074074074074

In [16]:
#multiplication
78-23+23+23+12+123-232*(34/54*34+4)*34

-200177.62962962966

In [17]:
#division
78-23+23+23+12+123-232/(34/54*34+4)/43

235.78764662010983

# what is the difference between = (equal to) and ==(real equalto)?
- '=' is used for to assign values /variables
- '==' is used for equality comparison between two objects, while 'is' checks if two variables refer to the same object in memory.

# Apply comparison operators

In [22]:
#apply comparison operators
a = -91
b = 32

#is equal to 
a == b

True

In [23]:
#not equal
a != b

True

In [24]:
#less than
a < b

True

In [25]:
#greater than
a > b

False

In [26]:
#lessthan or equal to
a <= b

True

In [27]:
#greater than or equalto
a >= b

False

# Define type() function

- The type() function is used to determine the type of an object storing the data in variables .
- Example

In [29]:
a = 7
b = 8.76
c = 2+9j
print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

7
8.76
(2+9j)
<class 'int'>
<class 'float'>
<class 'complex'>

# Define bool() function

- The bool() function allows you to evaluate any value,and give you True/False in return

In [30]:
#example 1
print(bool(3456))
print(bool(0))
print(bool(78<3))

True
False
False

In [31]:
#example 2
print(bool(9))
print(bool(9.0))
print(bool())

True
True
False

# Any three examples on type conversions

In [36]:
x = 999 # int
y = 678.345 #float
z = 48+89j #complex

#convert from float to complex
a = complex(y)

#convert from float to int
b = int(y)

#convert from int to float
c = float(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

(678.345+0j)
678
999.0
<class 'complex'>
<class 'int'>
<class 'float'>

In [37]:
x = 678 # int
y = 789.89 #float
z = 678+45j #complex

#convert from float to complex
a = complex(y)

#convert from float to int
b = int(y)

#convert from int to float
c = float(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

(789.89+0j)
789
678.0
<class 'complex'>
<class 'int'>
<class 'float'>

In [40]:
x = 243
y = 5.67
z = 98+90j

a = float(x)
b = int(y)
c = complex(y)

print(a)
print(b)
print(c)

243.0
5
(5.67+0j)